:root {
    --black: #44475a;
    --white: white;
}

* {
    box-sizing: border-box;
    margin: 0;
}

canvas {
    border: thin solid var(--black);
    height: 25%;
    width: 100%;
}

h1 {
    background-color: var(--white);
    border: thin solid var(--black);
    border-radius: 1rem;
    color: var(--black);
    font-size: 6rem;
    left: 50%;
    padding: 1rem;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

nav {
    background-color: var(--black);
    border-radius: 1rem;
    color: var(--white);
    font-family: monospace;
    left: 50%;
    padding: 1rem;
    position: fixed;
    top: 0;
    transform: translate(-50%);
}

p {
    background-color: var(--black);
    border-radius: 1rem;
    bottom: 0;
    color: var(--white);
    font-family: monospace;
    left: 50%;
    padding: 1rem;
    position: fixed;
    transform: translate(-50%);
}
